{% extends 'base.html' %}

{% block content %}

  <h1>Products</h1>

  <p class="btn--wrapper"><a class="btn btn--action" href="/products/new">New product</a></p>

<table>
  <th>Name</th>
  <th>Description</th>
  <th>Stock Quantity</th>
  <th>Buying Cost</th>
  <th>Selling Cost</th>
  <th>Manufacturer</th>

  {% for product in products %}

  <tr>
    <td class="table_details"><a href="/products/{{ product.id }}"> {{product.name}} </a></td>
    <td class="table_details"><a href="/products/{{ product.description }}"> {{product.description}} </a></td>

    {% if product.stock_quantity == 0 %}
    <td class="table_details no_stock">{{product.stock_quantity}}</td>
    {% elif product.stock_quantity < 45 %}
    <td class="table_details low_stock">{{product.stock_quantity}}</td>
    {% else %}
    <td class="table_details">{{product.stock_quantity}}</td>
    {% endif %}
    <td class="table_details">{{product.buying_cost}}</td>
    <td class="table_details">{{product.selling_cost}}</td>
    <td class="table_details">{{product.manufactuer}}</td>

    <td><form action="/products/{{ product.id }}/delete" method="POST"><input class="btn btn--danger" type="submit" value="delete" /></form></td>
  </tr> 
</table>
  {% endfor %}

  {% endblock %}