{% extends 'base.html' %}

{% block content %}
<h1>Products</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  {% for product in products %}
  <tr>
    <td><a href="/products/{{ product.id }}"> {{product.name}} </a></td>
    <td><a href="/products/{{ product.description }}"> {{product.description}} </a></td>
    <td><a href="/products/{{ product.stock_quantity }}"> {{product.stock_quantity}} </a></td>
    <td><a href="/products/{{ product.buying_cost }}"> {{product.buying_cost}} </a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

<!-- stock_quantity, buying_cost, selling_cost, manufacturer -->