{% extends 'base.html' %}

{% block content %}
<h1>Add product</h1>

<form action="/products" method="post">

<!-- Add a product name here -->
  <label for="product">Add a name:</label>
  <textarea name="name" id="name" cols="50" rows="4"></textarea>

<!-- A a product description here -->
  <label for="description">Add Description</label>
  <textarea name="description" id="description" cols="50" rows="4"></textarea>  

<!-- A a product stock_quantity here -->
  <label for="stock_quantity">Add Stock Quantity</label>
  <textarea name="stock_quantity" id="stock_quantity" cols="50" rows="4"></textarea>

<!-- A a product buying_cost here -->

  <label for="buying_cost">Add Buying Cost</label>
  <textarea name="buying_cost" id="buying_cost" cols="50" rows="4"></textarea>

<!-- A a product selling_cost here -->

<label for="selling_cost">Add Selling Cost</label>
  <textarea name="selling_cost" id="selling_cost" cols="50" rows="4"></textarea>

<!-- Add a manufacturer here -->
  <label for="manufacturer">Select Manufacturer:</label>
  <textarea name="manufacturer" id="manufacturer" cols="50" rows="4"></textarea>

<!-- Submit button goes here -->
   
<input class="btn btn--action" type='submit' value="Submit">    

</form>

{% endblock %}