{% extends 'base.html' %}

{% block content %}
<h1>Add product</h1>

<form action="/products" method="post">
  <label for="product">Select a product:</label>
    <select name="product.id" id="product">
      {% for product in products %}
      <option value="{{ product.id }}">{{ product.name }}</option>
      {% endfor %}
    </select>
  
  <label for="manufacturer">Select a manufacturer:</label>
    <select name="manufacturer_id" id="manufacturer">
      {% for manufacturer in manufacturers %}
      <option value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>
      {% endfor %}
    </select>

</form>

{% endblock %}