.btn {
    border:0px none;
    padding: 4px 8px;
    color: #FFFFFF;
    cursor:pointer;
  }
  
  .btn--danger {
    background-color: #0f0a0a;
  }
  
  .btn--danger:hover {
    background-color: #1a0e0e;
  }
  
  .btn--action:hover {
    background-color: #221818;
  }
  
  .btn--action {
    background-color: #110e0e;
  }
  
  .btn--wrapper {
    margin: 0px 0px 30px 0px;
  }