.btn {
    border:20px none;
    background-color: rgb(253, 252, 251);
    padding: 4px 8px;
    color: #FFFFFF;
    cursor:pointer;
    border-color: black;
  }
  
  .btn--danger {
    background-color: #f7f5f7;
  }
  
  .btn--danger:hover {
    background-color: #fdfcfc;
  }
  
  .btn--action:hover {
    background-color: #f5f8f5;
  }
  
  .btn--action {
    background-color: #f8fcfa;
    border-color: black;
  }
  
  .btn--wrapper {
    margin: 0px 0px 30px 0px;
  }