body {
    background-color: rgb(182, 182, 212);
    background-size: cover;
    background-repeat: no-repeat;
    color: #f8f7f6;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 0px;
    margin: 0px;
  }

