body {
    background: url('/static/images/simple_grey.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(7, 7, 7);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 0px;
    margin: 0px;
  }