{% extends 'base.html' %}

{% block content %}
<h1>Add Manufacturer</h1>

<form action="/manufacturers" method="post">

<!-- Add a manufacturer goes here -->
  <label for="manufacturer">Select a manufacturer:</label>
    <select name="manufacturer_id" id="manufacturer">
      {% for manufacturer in manufacturers %}
      <option value="{{ manufacturer_id }}">{{ manufacturer.name }}</option>
      {% endfor %}
    </select>

<!-- Submit button goes here -->
    <input class="btn btn--action" type='submit' value="Submit">  

</form>

{% endblock %}